* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    padding: 10px;
}

.container {
    width: 1250px;
    height: 400px;
    /* border: 2px solid red; */
    margin: 20px auto;
    display: flex;
}

.card {
    width: 300px;
    height: 400px;
    /* border: 2px solid red; */
    margin: 5px;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    overflow: hidden;
}

.footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: yellow;
}