   .demo {
       background-color: green;

     
   }

   .content {
       background-color: beige;
   }

   .heading1 {
       background-color: red;
       font-size: 60px;
   }

   .heading2{
    background-color: gold;
    font-size: 40px;
   }